<!DOCTYPE html>
<html>
    <head>
        <title>TweakDeck</title>
        <link rel="stylesheet" href="/css/notification.css" />
        <style type="text/css">
            #message {height:103px;}
        </style>
    </head>
    <body onload="init()" onmouseover="handleMouseOver()" onmouseout="handleMouseOut()">

        <div id="message" onclick="handleMessageClick(event)">
        </div>
        <div class="panel-notification-controls">
                <a href="#" id="columnTitle" rel="showColumn" onclick="handleMessageClick(event)"></a>
                <a href="#" id="pagePrev" onclick="cycle(-1)"></a>
                <a href="#" id="pageNext" onclick="cycle(1)"><span id="pageValTxt">next</span></a>
        </div>
    </body>
    <script src="../scripts/notificationupdateviewer.js"></script>
</html>
