<!DOCTYPE html>
<html>
    <head>
        <title>TweakDeck</title>
        <link rel="stylesheet" href="/css/notification.css" />
        <style type="text/css">
            #message {height:103px;}
        </style>
        <script src="../scripts/onload.js"></script>

    </head>
    <body>

        <div id="message">
        </div>
        <div class="panel-notification-controls">
                <a href="#" id="columnTitle" rel="showColumn"></a>
                <a href="#" id="pagePrev"></a>
                <a href="#" id="pageNext"><span id="pageValTxt">next</span></a>
        </div>
    </body>
    <script src="../scripts/notificationupdateviewer.js"></script>
</html>
